$color-main: #fdfcf8;
$color-background: $color-main;
$color-background-tag: #2bf15d;
$color-dropdown-background: #fffeef;
$color-header-border: #141414;
$color-tag-border: #ebebeb;
$color-header-background: linear-gradient(135deg, #38fa69, #08d0eb);
$color-searchBtn-border: #ffffff;
