$color-main: #f00c0c;
$color-background: #0e0e0e;
$color-background-tag: #f00c0c;
$color-dropdown-background: #000000;
$color-header-border: #141414;
$color-header-home: #ffffff;
$color-movieCard-text: #ffe9e9;
$color-tag-border: #ebebeb;
$color-header-background: linear-gradient(135deg, #6d0000, #ec3838);
$color-searchBtn-border: #ffffff;
$color-genre-background: #08d0eb;
$color-genre-text: #ffffff;
$color-movieDetail-text: #ffffff;
$color-movieDetail-title: #f53232;
$color-footer-background: #0e0e0e;
$color-footer-icon: #ffffff;
$color-loader: #f53232;
